Repository wycats/bootc: changes, and which lefthook commands are due for each by the changed paths.
All: check-schemas, fmt, clippy

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-schemas:
      glob: "bkt/src/**/*.rs"
      run: |
        cargo run -q --manifest-path bkt/Cargo.toml -- schema generate --output schemas
        git diff --exit-code -- schemas

    fmt:
      glob: "bkt/**/*.rs"
      run: cargo fmt --manifest-path bkt/Cargo.toml -- --check

    clippy:
      glob: "bkt/**/*.rs"
      run: cargo clippy --manifest-path bkt/Cargo.toml -- -D warnings

chore: Update recon agent instructions
  .github/agents/recon-worker.md
  .github/agents/recon.md
Due: none

docs: Add codebase consistency roadmap
  docs/reports/2025-01-30-roadmap.md
Due: none

docs: Consolidate planning docs into CURRENT.md + NEXT.md
  CURRENT.md
  NEXT.md
  docs/history/2026-01-20-distrobox-handoff.md
  docs/reports/2025-01-30-distrobox-environment-audit.md
  docs/reports/2025-01-30-roadmap.md
Due: none

fix: Correct broken command references in boot scripts
  scripts/bootc-apply
  scripts/bootc-bootstrap
Due: none

docs: Fix distrobox export location in ARCHITECTURE.md
  docs/ARCHITECTURE.md
Due: none

docs: Mark P0 complete, update CHANGELOG with Phase 4 progress
  CHANGELOG.md
  CURRENT.md
Due: none

style: Normalize markdown table formatting in NEXT.md
  NEXT.md
Due: none

fix: Remove dead code warnings in fetchbin
  fetchbin/src/runtime/node.rs
  fetchbin/src/source/cargo.rs
  fetchbin/src/source/github/api.rs
  fetchbin/src/source/npm.rs
Due: none

fix: Remove orphaned test and invalid tool references
  .github/agents/prepare.md
  fetchbin/src/runtime/node.rs
Due: none

fix: Add HostBinariesManifest to schema generation
  bkt/src/commands/schema.rs
  schemas/host-binaries.schema.json
Due: check-schemas, fmt, clippy

docs: Add RFC 0034 for usroverlay integration and update agent configs
  .github/agents/coordinator.md
  .github/agents/execute.md
  .github/agents/prepare.md
  .github/agents/recon-worker.md
  .github/agents/recon.md
  docs/rfcs/0034-usroverlay-integration.md
Due: none

docs: Add RFC 0035 (bkt admin update) and Immediate Development Axiom
  docs/VISION.md
  docs/rfcs/0035-admin-update.md
Due: none

chore: Apply formatting cleanup
  CURRENT.md
  docs/VISION.md
  docs/rfcs/0034-usroverlay-integration.md
  docs/rfcs/0035-admin-update.md
  fetchbin/src/runtime/node.rs
Due: none

fix: Remove Python dependency and add no-Python axiom
  .gitignore
  Containerfile
  bkt/src/commands/drift.rs
  docs/VISION.md
Due: check-schemas, fmt, clippy

fix: Remove Python dependency and add no-Python axiom (#89)
  .gitignore
  CURRENT.md
  Containerfile
  bkt/src/commands/drift.rs
  docs/VISION.md
  docs/rfcs/0034-usroverlay-integration.md
  docs/rfcs/0035-admin-update.md
  fetchbin/src/runtime/node.rs
Due: check-schemas, fmt, clippy

feat: Add memory management tuning to reduce system degradation
  Containerfile
  system/etc/sysctl.d/99-bootc-vm-tuning.conf
Due: none

docs: Add RFC 0036 for kernel arguments enhancement
  docs/rfcs/0036-system-kargs.md
Due: none

docs: Add RFC 0036 for kernel arguments enhancement (#90)
  docs/rfcs/0036-system-kargs.md
Due: none

fix(test): update drift check test to match stub behavior
  bkt/tests/cli.rs
Due: fmt, clippy

docs(rfc): mark RFC 0019 as abandoned, RFC 0025 as superseded
  docs/rfcs/0019-environment-abstraction.md
  docs/rfcs/0025-appimage-management.md
Due: none

docs(rfc): add terminology evolution note to RFC 0001
  docs/rfcs/0001-command-punning.md
Due: none

docs(rfc): mark RFC 0002, 0003 as superseded by RFC 0020
  docs/rfcs/0002-bkt-dnf.md
  docs/rfcs/0003-bkt-dev.md
Due: none

feat(doctor): add distrobox wrapper validation check
  bkt/src/commands/doctor.rs
Due: check-schemas, fmt, clippy

docs(rfc): add implementation status banners to RFC 0004, 0007, 0018
  docs/rfcs/0004-bkt-admin.md
  docs/rfcs/0007-drift-detection.md
  docs/rfcs/0018-host-only-shims.md
Due: none

docs(rfc): RFC consolidation and status updates (#91)
  docs/rfcs/0001-command-punning.md
  docs/rfcs/0002-bkt-dnf.md
  docs/rfcs/0003-bkt-dev.md
  docs/rfcs/0004-bkt-admin.md
  docs/rfcs/0007-drift-detection.md
  docs/rfcs/0018-host-only-shims.md
  docs/rfcs/0019-environment-abstraction.md
  docs/rfcs/0025-appimage-management.md
Due: none

feat(doctor): add distrobox wrapper validation check (#92)
  bkt/src/commands/doctor.rs
Due: check-schemas, fmt, clippy

fix(status): resolve false positives in bkt status
  bkt/src/commands/flatpak.rs
  bkt/src/commands/status.rs
Due: check-schemas, fmt, clippy

feat(bkt): implement RFC-0010 transparent command delegation
  bkt/src/context.rs
  bkt/src/main.rs
  docs/rfcs/0009-privileged-operations.md
  docs/rfcs/0010-transparent-delegation.md
  docs/rfcs/0018-host-only-shims.md
Due: fmt, clippy

feat(bkt): implement RFC-0010 transparent command delegation (#94)
  bkt/src/commands/flatpak.rs
  bkt/src/commands/status.rs
  bkt/src/context.rs
  bkt/src/main.rs
  docs/rfcs/0009-privileged-operations.md
  docs/rfcs/0010-transparent-delegation.md
  docs/rfcs/0018-host-only-shims.md
Due: check-schemas, fmt, clippy

chore: remove test shims from Containerfile
  Containerfile
  manifests/host-shims.json
Due: none

chore: update agent configs (model names, PER protocol)
  .github/agents/recon-worker.md
  .github/agents/recon.md
  .github/copilot-instructions.md
Due: none

docs(rfc): add RFC-0019 cron-able sync command
  docs/rfcs/0019-cron-able-sync.md
Due: none

fix(ci): checkout PR branch in build.yml for pull_request_target
  .github/workflows/build.yml
Due: none

test: add --no-delegate to dev command tests for CI
  bkt/tests/cli.rs
Due: fmt, clippy

fix: include to_disable in pending_sync calculation
  bkt/src/commands/status.rs
Due: check-schemas, fmt, clippy
