Repository wycats/bootc: changes, and which lefthook commands are due for each by the changed paths.
All: check-schemas, fmt, clippy

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-schemas:
      glob: "bkt/src/**/*.rs"
      run: |
        cargo run -q --manifest-path bkt/Cargo.toml -- schema generate --output schemas
        git diff --exit-code -- schemas

    fmt:
      glob: "bkt/**/*.rs"
      run: cargo fmt --manifest-path bkt/Cargo.toml -- --check

    clippy:
      glob: "bkt/**/*.rs"
      run: cargo clippy --manifest-path bkt/Cargo.toml -- -D warnings

docs: update RFC 0042 with design decisions from PER D prepare
  docs/rfcs/0042-bkt-build-and-managed-containerfile.md
Due: none

feat: shared bkt-common crate and bkt-build fetch command (PER D)
  bkt-build/Cargo.lock
  bkt-build/Cargo.toml
  bkt-build/src/fetch.rs
  bkt-build/src/main.rs
  bkt-common/Cargo.lock
  bkt-common/Cargo.toml
  bkt-common/src/archive.rs
  bkt-common/src/checksum.rs
  bkt-common/src/error.rs
  bkt-common/src/http.rs
  bkt-common/src/lib.rs
  bkt-common/src/manifest.rs
  bkt/Cargo.lock
  bkt/Cargo.toml
  bkt/src/commands/upstream.rs
  bkt/src/manifest/upstream.rs
  docs/rfcs/0042-bkt-build-and-managed-containerfile.md
  fetchbin/Cargo.lock
  fetchbin/Cargo.toml
  fetchbin/src/error.rs
  fetchbin/src/source/github.rs
  fetchbin/src/source/github/archive.rs
  fetchbin/src/source/github/checksum.rs
  schemas/external-repos.schema.json
  schemas/upstream-manifest.schema.json
  upstream/manifest.json
Due: check-schemas, fmt, clippy

fix: generate external-repos schema
  .github/workflows/build.yml
  .github/workflows/ci.yml
  bkt/src/commands/schema.rs
  bkt/src/manifest/external_repos.rs
  bkt/src/manifest/mod.rs
  schemas/external-repos.schema.json
Due: check-schemas, fmt, clippy

fix: address bkt-build fetch review
  bkt-build/src/fetch.rs
Due: none

feat(bkt-build): add setup-repos and download-rpms commands
  bkt-build/src/fetch.rs
  bkt-build/src/main.rs
  bkt-build/src/repos.rs
  bkt-common/src/manifest.rs
Due: none

fix(bkt): avoid manifest re-export name collision
  bkt/src/manifest/upstream.rs
Due: check-schemas, fmt, clippy

fix(bkt-build): harden external repo command handling
  bkt-build/src/repos.rs
  bkt-common/src/manifest.rs
Due: none

chore: drop DNF_CACHE_EPOCH cache-bust arg
  Containerfile
Due: none

feat(bkt-common): add header support and convenience functions to HTTP module
  bkt-common/src/http.rs
Due: none

refactor(fetchbin): migrate to bkt-common for HTTP, archive, and checksum
  bkt/Cargo.lock
  fetchbin/Cargo.lock
  fetchbin/Cargo.toml
  fetchbin/src/error.rs
  fetchbin/src/runtime/mod.rs
  fetchbin/src/runtime/node.rs
  fetchbin/src/runtime/pnpm.rs
  fetchbin/src/source/cargo.rs
  fetchbin/src/source/github.rs
  fetchbin/src/source/npm.rs
Due: none

feat: extract Containerfile fragments for bkt generation (PER B)
  Containerfile.d/90-system-config.tail
  Containerfile.d/build-keyd.run
  Containerfile.d/fetch-whitesur.run
Due: none

fix: pin real SHA256 hashes for starship and lazygit
  upstream/manifest.json
Due: none

feat: add bkt-build musl static binary to CI workflow
  .github/workflows/build.yml
Due: none

feat: rewrite Containerfile to use bkt-build for repos and fetches
  Containerfile
Due: none

docs: split PER G into G1/G2, fold PER C into G1
  docs/rfcs/0042-bkt-build-and-managed-containerfile.md
Due: none

fix: raise dbus-broker soft fd limit to prevent session crashes
  Containerfile
  Containerfile.d/90-system-config.tail
  systemd/user/dbus-broker.service.d/override.conf
Due: none

refactor: extract lib.rs from binary-only bkt crate (RFC-0043 Phase 1)
  bkt/Cargo.toml
  bkt/src/cli.rs
  bkt/src/commands/completions.rs
  bkt/src/lib.rs
  bkt/src/main.rs
  bkt/src/pipeline.rs
Due: check-schemas, fmt, clippy

fix: make DynPlan trait pub for subsystem module access
  bkt/src/plan.rs
Due: fmt, clippy

feat: define CommandRunner trait and thread into ExecutionPlan (RFC-0043)
  bkt/src/command_runner.rs
  bkt/src/lib.rs
  bkt/src/pipeline.rs
Due: fmt, clippy

refactor: convert command wrappers to use CommandRunner
  bkt/src/context.rs
  bkt/src/effects.rs
  bkt/src/plan.rs
Due: fmt, clippy

refactor: convert pr.rs to use CommandRunner
  bkt/src/pr.rs
Due: fmt, clippy

refactor: convert all command modules to use CommandRunner
  bkt/src/commands/admin/bootc.rs
  bkt/src/commands/appimage.rs
  bkt/src/commands/base.rs
  bkt/src/commands/build_info.rs
  bkt/src/commands/dev.rs
  bkt/src/commands/distrobox.rs
  bkt/src/commands/doctor.rs
  bkt/src/commands/extension.rs
  bkt/src/commands/fetchbin.rs
  bkt/src/commands/flatpak.rs
  bkt/src/commands/gsetting.rs
  bkt/src/commands/homebrew.rs
  bkt/src/commands/local.rs
  bkt/src/commands/profile.rs
  bkt/src/commands/skel.rs
  bkt/src/commands/system.rs
  bkt/src/commands/upstream.rs
  bkt/src/main.rs
  bkt/src/manifest/base_image.rs
  bkt/src/validation.rs
Due: check-schemas, fmt, clippy

fix: update subsystem tests for fetchbin addition
  bkt/src/subsystem.rs
Due: fmt, clippy

feat: rewrite Containerfile to multi-stage build (PER G1)
  .github/workflows/build.yml
  Containerfile
Due: none

fix: install external RPMs from /tmp/rpms/*.rpm (PER C)
  bkt/src/commands/containerfile.rs
  bkt/src/commands/system.rs
  bkt/src/containerfile.rs
  manifests/system-packages.json
Due: check-schemas, fmt, clippy

docs: fix markdown escaping in RFC 0042
  docs/rfcs/0042-bkt-build-and-managed-containerfile.md
Due: none

fix: remove '--' separator from dnf download args
  bkt-build/src/repos.rs
Due: none

fix: restrict dnf download to build architecture
  bkt-build/src/repos.rs
Due: none

fix: use separate --arch flags for dnf5 download
  bkt-build/src/repos.rs
Due: none

feat: full Containerfile generation from manifests (PER G2)
  .github/workflows/build.yml
  Containerfile
  Containerfile.d/90-system-config.tail
  Containerfile.d/build-keyd.run
  Containerfile.d/fetch-whitesur.run
  bkt-build/src/fetch.rs
  bkt-common/src/manifest.rs
  bkt/src/commands/containerfile.rs
  bkt/src/commands/upstream.rs
  bkt/src/containerfile.rs
  bkt/src/manifest/image_config.rs
  bkt/src/manifest/mod.rs
  manifests/image-config.json
  schemas/upstream-manifest.schema.json
  upstream/manifest.json
Due: check-schemas, fmt, clippy

feat: full Containerfile generation from manifests (PER G2) (#120)
  .github/workflows/build.yml
  Containerfile
  Containerfile.d/90-system-config.tail
  Containerfile.d/build-keyd.run
  Containerfile.d/fetch-whitesur.run
  bkt-build/src/fetch.rs
  bkt-common/src/manifest.rs
  bkt/src/commands/containerfile.rs
  bkt/src/commands/upstream.rs
  bkt/src/containerfile.rs
  bkt/src/manifest/image_config.rs
  bkt/src/manifest/mod.rs
  manifests/image-config.json
  schemas/upstream-manifest.schema.json
  upstream/manifest.json
Due: check-schemas, fmt, clippy

fix: use --manifest-path for containerfile check in CI
  .github/workflows/build.yml
Due: none

fix: use --manifest-path for containerfile check in CI (#121)
  .github/workflows/build.yml
Due: none

feat: rpmcheck tool for precise RPM version tracking
  .github/workflows/build.yml
  Containerfile
  rpmcheck/Cargo.lock
  rpmcheck/Cargo.toml
  rpmcheck/src/main.rs
Due: none

feat: rpmcheck tool for precise RPM version tracking (#106)
  .github/workflows/build.yml
  Containerfile
  rpmcheck/Cargo.lock
  rpmcheck/Cargo.toml
  rpmcheck/src/main.rs
Due: none

fix: expand $basearch in rpmcheck repo URLs
  rpmcheck/src/main.rs
Due: none

fix: expand $basearch in rpmcheck repo URLs (#122)
  rpmcheck/src/main.rs
Due: none

feat: run rpmcheck in PR CI with live URL validation
  .github/workflows/build.yml
  rpmcheck/src/lib.rs
  rpmcheck/src/main.rs
  rpmcheck/tests/manifest_urls.rs
Due: none

improve: HEAD→GET fallback and ${basearch} syntax support
  rpmcheck/src/lib.rs
  rpmcheck/tests/manifest_urls.rs
Due: none

style: add cargo fmt --check for rpmcheck in CI, fix formatting
  .github/workflows/build.yml
  rpmcheck/src/lib.rs
  rpmcheck/src/main.rs
  rpmcheck/tests/manifest_urls.rs
Due: none
