Repository wycats/bootc: changes, and which lefthook commands are due for each by the changed paths.
All: check-schemas, fmt, clippy

check-schemas:
  run: 'cargo run -q --manifest-path bkt/Cargo.toml -- schema generate --output schemas
  
    git diff --exit-code -- schemas
  
    '

fmt:
  run: cargo fmt --manifest-path bkt/Cargo.toml -- --check

clippy:
  run: cargo clippy --manifest-path bkt/Cargo.toml -- -D warnings

feat: run rpmcheck in PR CI with live URL validation (#123)
  .github/workflows/build.yml
  rpmcheck/src/lib.rs
  rpmcheck/src/main.rs
  rpmcheck/tests/manifest_urls.rs
Due: none

feat(rpmcheck): add --per-repo flag for per-repo hash output
  rpmcheck/src/main.rs
Due: none

feat(containerfile): per-repo cache epoch ARGs in dl-* stages
  Containerfile
  bkt/src/containerfile.rs
Due: fmt, clippy

ci: wire per-repo cache epochs into build-args
  .github/workflows/build.yml
Due: none

feat: per-repo cache busting for dl-* stages (PER H) (#124)
  .github/workflows/build.yml
  Containerfile
  bkt/src/containerfile.rs
  rpmcheck/src/main.rs
Due: fmt, clippy

feat(containerfile): implement RFC 0045 layer minimization
  Containerfile
  bkt/src/containerfile.rs
  docs/rfcs/0045-layer-minimization.md
Due: fmt, clippy

feat(memory): implement RFC 0046 memory resource controls
  docs/rfcs/0046-memory-resource-controls.md
  scripts/code-managed
  scripts/msedge-managed
  system/etc/systemd/oomd.conf.d/10-bootc-tuning.conf
  systemd/user/app-msedge.slice
  systemd/user/app-vscode.slice
Due: none

ci: add Containerfile drift checks to lefthook and CI
  .github/workflows/ci.yml
  lefthook.yml
Due: none

feat(bkt): add wrap command for generating Rust wrapper binaries
  Containerfile
  bkt/src/cli.rs
  bkt/src/commands/mod.rs
  bkt/src/commands/wrap.rs
  bkt/src/main.rs
  bkt/src/manifest/image_config.rs
  docs/rfcs/0047-bkt-wrap.md
Due: check-schemas, fmt, clippy

refactor: replace shell wrappers with Rust binaries
  .gitignore
  bkt/src/containerfile.rs
  manifests/image-config.json
  scripts/code-managed
  scripts/msedge-managed
Due: fmt, clippy

docs: add RFCs 0043-0044 and update 0045-0046
  .gitignore
  docs/rfcs/0043-bkt-lib-extraction.md
  docs/rfcs/0044-bkt-try-transient-overlay.md
  docs/rfcs/0045-layer-minimization.md
  docs/rfcs/0046-memory-resource-controls.md
Due: none

fix: build wrapper binaries in Containerfile stage
  Containerfile
  bkt/src/containerfile.rs
Due: fmt, clippy

feat(doctor): check cargo bin exports have shims
  bkt/src/commands/doctor.rs
Due: check-schemas, fmt, clippy

docs: add CONCEPTS.md, ASPIRATIONS.md, and RFC 0048
  docs/ASPIRATIONS.md
  docs/CONCEPTS.md
  docs/rfcs/0048-subsystem-and-containerfile-unification.md
Due: none

docs: add CONCEPTS-DETAIL.md — architecture deep dive
  docs/CONCEPTS-DETAIL.md
Due: none

fix: use base64 encoding for wrapper source in Containerfile
  Containerfile
  bkt/src/containerfile.rs
Due: fmt, clippy

docs: add standard RFC metadata header to RFC 0048
  docs/rfcs/0048-subsystem-and-containerfile-unification.md
Due: none

fix: wrapper build stage + conceptual docs (#126)
  Containerfile
  bkt/src/commands/doctor.rs
  bkt/src/containerfile.rs
  docs/ASPIRATIONS.md
  docs/CONCEPTS-DETAIL.md
  docs/CONCEPTS.md
  docs/rfcs/0048-subsystem-and-containerfile-unification.md
Due: check-schemas, fmt, clippy

feat(system): add staged command to diff pending deployment
  bkt/src/commands/system.rs
Due: check-schemas, fmt, clippy

docs(rfc): expand 0048 with subsystem tiers, absorb 0029
  docs/rfcs/0048-subsystem-and-containerfile-unification.md
  docs/rfcs/withdrawn/0029-subsystem-dependencies.md
Due: none

feat(system): add staged command to diff pending deployment (#127)
  bkt/src/commands/system.rs
  docs/rfcs/0048-subsystem-and-containerfile-unification.md
  docs/rfcs/withdrawn/0029-subsystem-dependencies.md
Due: check-schemas, fmt, clippy

docs: add Phase 4 plan for subsystem unification
  docs/history/004-phase4-subsystem-unification.md
Due: none

feat(subsystem): add SubsystemTier enum for Atomic vs Convergent
  bkt/src/subsystem.rs
Due: fmt, clippy

feat(subsystem): add SubsystemTier enum for Atomic vs Convergent (#128)
  bkt/src/subsystem.rs
Due: fmt, clippy

fix: deploy RFC 0046 memory slices + cargo job limit
  .cargo/config.toml
  .vscode/settings.json
  Containerfile
Due: none

fix: MemoryOOMGroup→OOMPolicy, track wrapper sources, eliminate base64
  .gitignore
  Containerfile
  bkt/src/commands/wrap.rs
  wrappers/msedge-wrapper/Cargo.lock
  wrappers/msedge-wrapper/Cargo.toml
  wrappers/msedge-wrapper/src/main.rs
  wrappers/vscode-wrapper/Cargo.lock
  wrappers/vscode-wrapper/Cargo.toml
  wrappers/vscode-wrapper/src/main.rs
Due: check-schemas, fmt, clippy

fix: deploy RFC 0046 memory slices + cargo job limit (#129)
  .cargo/config.toml
  .gitignore
  .vscode/settings.json
  Containerfile
  bkt/src/commands/wrap.rs
  wrappers/msedge-wrapper/Cargo.lock
  wrappers/msedge-wrapper/Cargo.toml
  wrappers/msedge-wrapper/src/main.rs
  wrappers/vscode-wrapper/Cargo.lock
  wrappers/vscode-wrapper/Cargo.toml
  wrappers/vscode-wrapper/src/main.rs
Due: check-schemas, fmt, clippy

fix: memory resource controls — OOMPolicy, wrapper sources, generation pipeline
  .cargo/config.toml
  .gitignore
  .vscode/settings.json
  Containerfile
  bkt/src/commands/wrap.rs
  bkt/src/containerfile.rs
  manifests/image-config.json
  wrappers/msedge-wrapper/Cargo.lock
  wrappers/msedge-wrapper/Cargo.toml
  wrappers/msedge-wrapper/src/main.rs
  wrappers/vscode-wrapper/Cargo.lock
  wrappers/vscode-wrapper/Cargo.toml
  wrappers/vscode-wrapper/src/main.rs
Due: check-schemas, fmt, clippy

fix: eliminate base64 from Containerfile generation, add slice/oomd to manifest
  Containerfile
  bkt/src/containerfile.rs
  manifests/image-config.json
Due: fmt, clippy

fix: eliminate base64 from Containerfile generation, add slice/oomd to manifest (#130)
  Containerfile
  bkt/src/containerfile.rs
  manifests/image-config.json
Due: fmt, clippy

fix: add cgroup re-entry guard to wrapper binaries
  bkt/src/commands/wrap.rs
  wrappers/msedge-wrapper/src/main.rs
  wrappers/vscode-wrapper/src/main.rs
Due: check-schemas, fmt, clippy

fix: add cgroup re-entry guard to wrapper binaries (#131)
  bkt/src/commands/wrap.rs
  wrappers/msedge-wrapper/src/main.rs
  wrappers/vscode-wrapper/src/main.rs
Due: check-schemas, fmt, clippy

feat(daemon): RFC 0048 Phase 1 - persistent host-command helper PoC
  bkt/Cargo.lock
  bkt/Cargo.toml
  bkt/src/commands/admin/daemon.rs
  bkt/src/commands/admin/mod.rs
  bkt/src/commands/containerfile.rs
  bkt/src/containerfile.rs
  bkt/src/daemon/client.rs
  bkt/src/daemon/mod.rs
  bkt/src/daemon/protocol.rs
  bkt/src/daemon/server.rs
  bkt/src/lib.rs
  docs/rfcs/0045-layer-minimization.md
  docs/rfcs/0046-test-performance.md
  docs/rfcs/0048-persistent-host-command-helper.md
  wrappers/msedge-wrapper/src/main.rs
  wrappers/vscode-wrapper/src/main.rs
Due: check-schemas, fmt, clippy

perf(daemon): optimize fork_exec with raw execve and PATH lookup
  bkt/src/commands/admin/daemon.rs
  bkt/src/daemon/server.rs
Due: check-schemas, fmt, clippy

fix(vscode-wrapper): use spawn() instead of exec() for fire-and-forget
  .github/prompts/rfc-consolidation.prompt.md
  bkt/src/daemon/protocol.rs
  docs/rfcs/0048-persistent-host-command-helper.md
  docs/rfcs/0049-daemon-production-hardening.md
  wrappers/vscode-wrapper/src/main.rs
Due: check-schemas, fmt, clippy

fix: allow dead_code for execute_via_daemon, regenerate Containerfile
  Containerfile
  bkt/src/daemon/client.rs
Due: check-schemas, fmt, clippy

feat: daemon PoC and vscode-wrapper fix (#132)
  .github/prompts/rfc-consolidation.prompt.md
  Containerfile
  bkt/Cargo.lock
  bkt/Cargo.toml
  bkt/src/commands/admin/daemon.rs
  bkt/src/commands/admin/mod.rs
  bkt/src/commands/containerfile.rs
  bkt/src/containerfile.rs
  bkt/src/daemon/client.rs
  bkt/src/daemon/mod.rs
  bkt/src/daemon/protocol.rs
  bkt/src/daemon/server.rs
  bkt/src/lib.rs
  docs/rfcs/0045-layer-minimization.md
  docs/rfcs/0046-test-performance.md
  docs/rfcs/0048-persistent-host-command-helper.md
  docs/rfcs/0049-daemon-production-hardening.md
  wrappers/msedge-wrapper/src/main.rs
  wrappers/vscode-wrapper/src/main.rs
Due: check-schemas, fmt, clippy

Bootstrap exo: Foundation phase 1 complete
  .gitattributes
  .github/prompts/bootstrap-axioms.prompt.md
  .github/prompts/capture-transcript.prompt.md
  .github/prompts/code-review.prompt.md
  .github/prompts/coherence.prompt.md
  .github/prompts/coherence/check-axiomatic.prompt.md
  .github/prompts/coherence/check-intent.prompt.md
  .github/prompts/coherence/check-internal.prompt.md
  .github/prompts/coherence/check-temporal.prompt.md
  .github/prompts/conceptual-integrity.prompt.md
  .github/prompts/dream-team-exosuit.prompt.md
  .github/prompts/dream-team-lite.prompt.md
  .github/prompts/dream-team-universal.prompt.md
  .github/prompts/fresh-eyes.prompt.md
  .github/prompts/gap-analysis.prompt.md
  .github/prompts/intent-amplifier.prompt.md
  .github/prompts/persona-build.prompt.md
  .github/prompts/prompt-builder.prompt.md
  .github/prompts/troubleshoot-cli.prompt.md
  .github/prompts/verify-plan.prompt.md
  docs/agent-context/axioms.design.toml
  docs/agent-context/axioms.system.toml
  docs/agent-context/axioms.workflow.toml
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/ideas.toml
  docs/agent-context/modes.toml
  docs/agent-context/plan.toml
  docs/rfcs/0049-daemon-production-hardening.md
  docs/rfcs/0050-persistent-host-command-helper.md
  docs/rfcs/complete/0046-test-performance.md
  docs/rfcs/withdrawn/0043-bkt-lib-extraction.md
Due: none

Bootstrap exo: Foundation phase 2 complete
  docs/agent-context/archive/01khsehqfy1hw6qan97betqkmr/implementation-plan.toml
  docs/agent-context/plan.toml
Due: none

Daemon PoC complete: ~4ms overhead, socket protocol working
  docs/agent-context/archive/01khsehw15tncd68y8418z77qq/implementation-plan.toml
  docs/agent-context/plan.toml
Due: none

Path conditions:
  check-schemas: any of: bkt/src/**/*.rs
  fmt: any of: bkt/**/*.rs
  clippy: any of: bkt/**/*.rs
