Repository wycats/bootc: changes, and which lefthook commands are due for each by the changed paths.
All: check-schemas, check-containerfile, fmt, clippy

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-schemas:
      glob: "bkt/src/**/*.rs"
      run: |
        cargo run -q --manifest-path bkt/Cargo.toml -- schema generate --output schemas
        git diff --exit-code -- schemas

    check-containerfile:
      glob: "{manifests/*.json,bkt/src/**/*.rs}"
      run: |
        cargo run -q --manifest-path bkt/Cargo.toml -- containerfile sync
        git add Containerfile

    fmt:
      glob: "bkt/**/*.rs"
      run: |
        cargo fmt --manifest-path bkt/Cargo.toml
        git add {staged_files}

    clippy:
      glob: "bkt/**/*.rs"
      run: |
        cargo clippy --manifest-path bkt/Cargo.toml --fix --allow-dirty --allow-staged
        git add {staged_files}

pre-push:
  parallel: true
  commands:
    check-schemas:
      glob: "bkt/src/**/*.rs"
      run: |
        cargo run -q --manifest-path bkt/Cargo.toml -- schema generate --output schemas
        git diff --exit-code -- schemas

    check-containerfile:
      glob: "{manifests/*.json,bkt/src/**/*.rs}"
      run: cargo run -q --manifest-path bkt/Cargo.toml -- containerfile check

    fmt:
      glob: "bkt/**/*.rs"
      run: cargo fmt --manifest-path bkt/Cargo.toml -- --check

    clippy:
      glob: "bkt/**/*.rs"
      run: cargo clippy --manifest-path bkt/Cargo.toml -- -D warnings

fix: rustfmt + regenerate Containerfile for CI
  Containerfile
  bkt/src/commands/migrate.rs
  bkt/src/commands/tune.rs
  bkt/src/manifest/dnf.rs
  bkt/src/manifest/gsetting.rs
  bkt/src/manifest/homebrew.rs
  bkt/src/manifest/shim.rs
  bkt/src/manifest/systemd_services.rs
  bkt/tests/cli.rs
Due: check-schemas, check-containerfile, fmt, clippy

fix: address Copilot review comments
  Containerfile
  bkt/src/repo.rs
  docs/rfcs/0053-bootstrap-and-repo-discovery.md
  docs/rfcs/canon/0024-doctor-command.md
  manifests/gnome-extensions.json
  manifests/gsettings.json
  manifests/host-shims.json
  scripts/bootc-bootstrap
Due: check-containerfile, fmt, clippy

fix: remove /tmp/rpms/*.rpm from dnf install in final stage
  bkt/src/commands/containerfile.rs
Due: check-schemas, check-containerfile, fmt, clippy

fix: remove dead load_has_external_rpms function
  Containerfile
  bkt/src/commands/containerfile.rs
Due: check-schemas, check-containerfile, fmt, clippy

feat: consolidate build stage COPY --link layers (20 → 13)
  Containerfile
  bkt/src/containerfile.rs
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/plan.toml
Due: fmt, clippy

fix: clippy — remove unnecessary let binding in containerfile.rs
  bkt/src/containerfile.rs
Due: fmt, clippy

fix: vscode wrapper uses exec() instead of spawn() to prevent terminal output bleed
  wrappers/msedge-wrapper/src/main.rs
  wrappers/vscode-wrapper/src/main.rs
Due: none

fix: merge upstream/config/wrapper copies into single OCI layer
  .runtime/daemon.pid
  Containerfile
  bkt/src/containerfile.rs
Due: fmt, clippy

fix: address Copilot review — stale docs, misleading comments, runtime artifact
  .gitignore
  .runtime/daemon.pid
  Containerfile
  bkt/src/containerfile.rs
Due: fmt, clippy

fix: reduce OCI layer count to fix btrfs hardlink limit (#137)
  .gitignore
  Containerfile
  bkt/src/containerfile.rs
Due: fmt, clippy

fix: remove --link from install-* COPY to reduce xattrs hardlink pressure
  Containerfile
  bkt/src/containerfile.rs
Due: fmt, clippy

fix: remove --link from install-* COPY to reduce xattrs hardlink pressure (#138)
  Containerfile
  bkt/src/containerfile.rs
Due: fmt, clippy

docs: add investigations directory with btrfs xattrs hardlink writeup
  docs/investigations/2026-02-26-btrfs-xattrs-hardlink-limit.md
  docs/investigations/README.md
Due: none

docs: add strace summary data for btrfs xattrs investigation
  docs/investigations/data/2026-02-26-strace-summary.txt
Due: none

fix: vscode wrapper uses exec() instead of spawn() to prevent terminal output bleed (#136)
  wrappers/msedge-wrapper/src/main.rs
  wrappers/vscode-wrapper/src/main.rs
Due: none

chore: update exo state, add ideas, clean up branches
  Containerfile
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/ideas.toml
Due: none

chore: capture PR workflow gap idea
  docs/agent-context/ideas.toml
Due: none

chore: complete stale layer tasks, add Mac VM phase
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/plan.toml
Due: none

docs: update CURRENT.md with Feb 23-26 changes
  CURRENT.md
Due: none

docs: trim CURRENT.md to recent changes only, remove stale Feb 10 content
  CURRENT.md
Due: none

chore(wrappers): remove vestigial Cargo.toml and Cargo.lock
  wrappers/msedge-wrapper/Cargo.lock
  wrappers/msedge-wrapper/Cargo.toml
  wrappers/vscode-wrapper/Cargo.lock
  wrappers/vscode-wrapper/Cargo.toml
Due: none

feat(wrap): manifest-driven generate, check subcommand, --quiet flag
  bkt/src/commands/wrap.rs
Due: check-schemas, check-containerfile, fmt, clippy

chore: sync Containerfile with manifests
  Containerfile
Due: none

ci: add check-wrappers-current job
  .github/workflows/ci.yml
Due: none

chore(wrappers): regenerate source from manifest template
  wrappers/msedge-wrapper/src/main.rs
  wrappers/vscode-wrapper/src/main.rs
Due: none

feat: add ARM64 prototype Containerfile and manifests
  Containerfile.arm64
  manifests/external-repos.arm64.json
  manifests/flatpak-apps.arm64.json
Due: check-containerfile

ci: add ARM64 image build workflow
  .github/workflows/build-arm64.yml
Due: none

fix(arm64): use musl variant for starship aarch64 binary
  Containerfile.arm64
Due: none

fix(arm64): remove 1Password desktop app (x86_64-only)
  Containerfile.arm64
  manifests/external-repos.arm64.json
Due: check-containerfile

fix(arm64): use Silverblue 43 base to match installed VM
  Containerfile.arm64
Due: none

fix: bootstrap bugs + xdg-open macOS forwarder
  Containerfile.arm64
  manifests/flatpak-remotes.json
  scripts/bootc-bootstrap
  system/etc/profile.d/xdg-open-mac.sh
Due: check-containerfile

fix(arm64): use PATH-based xdg-open wrapper instead of profile.d
  Containerfile.arm64
  system/usr/local/bin/xdg-open-mac
Due: none

feat(arm64): xdg-open reverse tunnel for OAuth callbacks
  system/usr/local/bin/xdg-open-mac
Due: none

fix(arm64): use /var/usrlocal/bin for xdg-open wrapper
  Containerfile.arm64
Due: none

fix: disabled extensions were re-enabled on bootstrap
  scripts/bootc-bootstrap
Due: none

feat(arm64): add toolbox build + fix distrobox image tag
  .github/workflows/build-arm64.yml
  Containerfile.arm64
  distrobox.arm64.ini
  toolbox/Containerfile
Due: none

docs: RFC-0055 multi-machine support (draft)
  docs/rfcs/0055-multi-machine-support.md
Due: none

docs: revise RFC-0055 based on review
  docs/rfcs/0055-multi-machine-support.md
Due: none

fix: jq alternative operator treats false as falsy
  scripts/bootc-bootstrap
Due: none
