Repository wycats/bootc: changes, and which lefthook commands are due for each by the changed paths.
All: check-schemas, fmt, clippy

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-schemas:
      glob: "bkt/src/**/*.rs"
      run: |
        cargo run -q --manifest-path bkt/Cargo.toml -- schema generate --output schemas
        git diff --exit-code -- schemas

    fmt:
      glob: "bkt/**/*.rs"
      run: cargo fmt --manifest-path bkt/Cargo.toml -- --check

    clippy:
      glob: "bkt/**/*.rs"
      run: cargo clippy --manifest-path bkt/Cargo.toml -- -D warnings

chore: remove deprecated bkt dnf command
  bkt/src/commands/apply.rs
  bkt/src/commands/dnf.rs
  bkt/src/commands/mod.rs
  bkt/src/main.rs
  bkt/tests/cli.rs
  docs/rfcs/0021-local-change-management.md
  docs/rfcs/0022-homebrew-package-management.md
Due: check-schemas, fmt, clippy

docs: add RFCs for status, doctor, and appimage commands
  docs/rfcs/0023-system-status-dashboard.md
  docs/rfcs/0024-doctor-command.md
  docs/rfcs/0025-appimage-management.md
Due: none

refactor(containerfile): use Plan/Execute pattern from RFC-0008
  bkt/src/commands/containerfile.rs
Due: check-schemas, fmt, clippy

feat(flatpak): implement overrides capture and apply
  bkt/src/commands/flatpak.rs
  bkt/src/manifest/flatpak.rs
  bkt/src/plan.rs
Due: check-schemas, fmt, clippy

feat: add virt-manager for Windows 11 VM support (#87)
  Containerfile
  bkt/src/commands/apply.rs
  bkt/src/commands/containerfile.rs
  bkt/src/commands/dnf.rs
  bkt/src/commands/flatpak.rs
  bkt/src/commands/mod.rs
  bkt/src/main.rs
  bkt/src/manifest/flatpak.rs
  bkt/src/plan.rs
  bkt/tests/cli.rs
  docs/rfcs/0021-local-change-management.md
  docs/rfcs/0022-homebrew-package-management.md
  docs/rfcs/0023-system-status-dashboard.md
  docs/rfcs/0024-doctor-command.md
  docs/rfcs/0025-appimage-management.md
  manifests/system-packages.json
  systemd/user/bootc-capture.service
  systemd/user/bootc-capture.timer
Due: check-schemas, fmt, clippy

fix(bootstrap): respect user extension overrides
  scripts/bootc-bootstrap
Due: none

docs: add RFC-0026 for Subsystem trait
  docs/rfcs/0026-subsystem-trait.md
Due: none

feat: implement Subsystem trait and registry (RFC-0026)
  bkt/src/commands/mod.rs
  bkt/src/commands/subsystem.rs
  bkt/src/main.rs
  bkt/src/plan.rs
  bkt/src/subsystem.rs
Due: check-schemas, fmt, clippy

refactor: use SubsystemRegistry in capture/apply commands
  bkt/src/commands/apply.rs
  bkt/src/commands/capture.rs
  scripts/bootc-bootstrap
Due: check-schemas, fmt, clippy

docs: add RFC-0027 for Subsystem trait migration cleanup
  docs/rfcs/0027-subsystem-migration-cleanup.md
Due: none

refactor: remove vestigial CaptureSubsystem/Subsystem enums (RFC-0027 Phase 1)
  bkt/src/commands/apply.rs
  bkt/src/commands/capture.rs
  bkt/src/subsystem.rs
Due: check-schemas, fmt, clippy

refactor: unify manifest loading in status.rs (RFC-0027 Phase 2)
  bkt/src/commands/status.rs
Due: check-schemas, fmt, clippy

refactor: unify manifest loading in local.rs (RFC-0027 Phase 3)
  bkt/src/commands/local.rs
Due: check-schemas, fmt, clippy

refactor: add subsystem_id() to ChangeDomain (RFC-0027 Phase 4)
  bkt/src/commands/local.rs
  bkt/src/manifest/ephemeral.rs
Due: check-schemas, fmt, clippy

refactor: add supports_drift() to Subsystem trait (RFC-0027 Phase 5)
  bkt/src/commands/drift.rs
  bkt/src/subsystem.rs
Due: check-schemas, fmt, clippy

docs: mark RFC-0027 phases complete
  docs/rfcs/0027-subsystem-migration-cleanup.md
Due: none

feat: add status() method to Subsystem trait
  bkt/src/commands/status.rs
  bkt/src/subsystem.rs
Due: check-schemas, fmt, clippy

feat: native Rust drift detection via Subsystem trait
  bkt/src/commands/drift.rs
  bkt/src/subsystem.rs
Due: check-schemas, fmt, clippy

feat: thread SubsystemConfig through registry sync
  bkt/src/commands/apply.rs
  bkt/src/subsystem.rs
Due: check-schemas, fmt, clippy

chore: remove Python check-drift (superseded by Rust)
  scripts/check-drift
Due: none

docs: add RFC-0028 plugin subsystems
  docs/rfcs/0028-plugin-subsystems.md
Due: none

docs: add RFC-0029 subsystem dependencies
  docs/rfcs/0029-subsystem-dependencies.md
Due: none

docs: add RFC-0030 VM management
  docs/rfcs/0030-vm-management.md
Due: none

feat: implement subsystem execution phases (RFC-0029)
  bkt/src/subsystem.rs
  docs/rfcs/0029-subsystem-dependencies.md
  docs/rfcs/0030-vm-management.md
Due: fmt, clippy

fix(flatpak): use 'active' column instead of 'commit' in flatpak list
  bkt/src/commands/flatpak.rs
Due: check-schemas, fmt, clippy

feat: add RFC-0031 Windows VM workflow
  bkt/src/subsystem.rs
  docs/rfcs/0031-windows-vm-workflow.md
Due: fmt, clippy

feat(fetchbin): add core crate infrastructure
  fetchbin/Cargo.lock
  fetchbin/Cargo.toml
  fetchbin/src/error.rs
  fetchbin/src/lib.rs
  fetchbin/src/manifest.rs
  fetchbin/src/platform.rs
Due: none

feat(fetchbin): add runtime pool for Node.js and pnpm
  fetchbin/src/runtime/mod.rs
  fetchbin/src/runtime/node.rs
  fetchbin/src/runtime/pnpm.rs
Due: none

feat(fetchbin): add npm, cargo, and GitHub sources
  fetchbin/src/source/cargo.rs
  fetchbin/src/source/github.rs
  fetchbin/src/source/github/api.rs
  fetchbin/src/source/github/archive.rs
  fetchbin/src/source/github/checksum.rs
  fetchbin/src/source/mod.rs
  fetchbin/src/source/npm.rs
Due: none

feat(fetchbin): add CLI commands and tests
  fetchbin/src/main.rs
  fetchbin/tests/github_integration.rs
Due: none

feat(bkt): integrate fetchbin as subsystem
  bkt/Cargo.lock
  bkt/Cargo.toml
  bkt/src/commands/fetchbin.rs
  bkt/src/commands/mod.rs
  bkt/src/main.rs
  bkt/src/manifest/binary.rs
  bkt/src/manifest/fetchbin.rs
  bkt/src/manifest/mod.rs
  bkt/src/subsystem.rs
Due: check-schemas, fmt, clippy

feat(bkt): add distrobox live package capture
  bkt/src/commands/distrobox.rs
  bkt/src/manifest/distrobox.rs
  manifests/distrobox.json
Due: check-schemas, fmt, clippy

docs: add fetchbin RFCs and update status
  CURRENT.md
  docs/rfcs/0032-binary-acquisition.md
  docs/rfcs/0033-fetchbin-enhancements.md
Due: none

feat(manifests): add host-binaries manifest and schema
  manifests/host-binaries.json
  schemas/host-binaries.schema.json
Due: none

chore: update config and add copilot instructions
  .github/agents/execute.md
  .github/agents/prepare.md
  .github/agents/recon-worker.md
  .github/agents/recon.md
  .github/agents/review.md
  .github/copilot-instructions.md
  .gitignore
  .vscode/settings.json
Due: none

fix: remove duplicate section in prepare.md
  .github/agents/prepare.md
Due: none

fix: address Copilot review comments (duplicate test, error message, dead code)
  bkt/src/manifest/binary.rs
  fetchbin/src/source/github/archive.rs
Due: check-schemas, fmt, clippy

docs: Add distrobox environment audit report
  docs/reports/2025-01-30-distrobox-environment-audit.md
  manifests/gsettings.json
Due: none

fix: Mark burn-my-windows extension as disabled in manifest
  manifests/gnome-extensions.json
Due: none

docs: Fix distrobox environment audit report
  docs/reports/2025-01-30-distrobox-environment-audit.md
Due: none
