Repository wycats/bootc: changes, and which lefthook commands are due for each by the changed paths.
All: check-schemas, fmt, clippy

check-schemas:
  run: 'cargo run -q --manifest-path bkt/Cargo.toml -- schema generate --output schemas
  
    git diff --exit-code -- schemas
  
    '

fmt:
  run: cargo fmt --manifest-path bkt/Cargo.toml -- --check

clippy:
  run: cargo clippy --manifest-path bkt/Cargo.toml -- -D warnings

chore(ci): lint toolbox Containerfile with hadolint (#75)
  .github/workflows/ci.yml
Due: none

fix: correct upstream detection and eliminate race condition
  .github/workflows/build.yml
  CURRENT.md
Due: none

fix: correct upstream detection and eliminate race condition (#78)
  .github/workflows/build.yml
  CURRENT.md
Due: none

fix(ci): remove hardcoded ref: main to allow PR testing
  .github/workflows/build.yml
Due: none

docs: add urgent distrobox live capture item to CURRENT.md
  CURRENT.md
Due: none

fix: upstream detection workflow and add distrobox capture tracking (#79)
  .github/workflows/build.yml
  CURRENT.md
Due: none

feat(workflow): add PR build validation
  .github/workflows/build.yml
Due: none

fix: address CI failure and Copilot review feedback
  .github/workflows/build.yml
  schemas/host-binaries.schema.json
  upstream/manifest.json
Due: none

security: minimize PR permissions
  .github/workflows/build.yml
Due: none

fix: remove accidentally added orphan schema file
  schemas/host-binaries.schema.json
Due: none

feat: validate image build on PRs before merge (#80)
  .github/workflows/build.yml
  upstream/manifest.json
Due: none

feat: registry cache with environment approval for PRs
  .github/workflows/build.yml
Due: none

fix(ci): address Copilot review comments on PR workflow
  .github/workflows/build.yml
Due: none

feat: registry cache with environment approval for PRs (#81)
  .github/workflows/build.yml
Due: none

perf: improve Cargo caching across workflows
  .github/workflows/build.yml
  .github/workflows/check-upstream-drift.yml
  .github/workflows/ci.yml
  .github/workflows/verify-assumptions.yml
Due: none

Remove delegation system, add PATH architecture docs
  CURRENT.md
  HANDOFF.md
  bkt/src/commands/admin/bootc.rs
  bkt/src/commands/admin/mod.rs
  bkt/src/context.rs
  bkt/src/delegation.rs
  bkt/src/main.rs
  bkt/src/pr.rs
  bkt/tests/cli.rs
  docs/VISION.md
  docs/rfcs/0018-host-only-shims.md
  skel/.config/environment.d/10-distrobox-exports.conf
Due: check-schemas, fmt, clippy

fix: use PR number in concurrency group to prevent cross-PR cancellation
  .github/workflows/build.yml
Due: none

perf: improve Cargo caching across workflows (#82)
  .github/workflows/build.yml
  .github/workflows/check-upstream-drift.yml
  .github/workflows/ci.yml
  .github/workflows/verify-assumptions.yml
Due: none

fix: address Copilot review feedback
  bkt/src/commands/distrobox.rs
  bkt/src/context.rs
  bkt/src/manifest/distrobox.rs
  docs/rfcs/0003-bkt-dev.md
Due: check-schemas, fmt, clippy

test: add unit tests for expand_home and collapse_home utilities
  bkt/src/context.rs
Due: fmt, clippy

fix: make validation errors fatal instead of warnings
  bkt/src/commands/admin/bootc.rs
  bkt/src/context.rs
  bkt/src/pr.rs
  bkt/src/validation.rs
  bkt/tests/cli.rs
Due: check-schemas, fmt, clippy

skel: add shell dotfiles and cargo/env for recovery
  skel/.bash_profile
  skel/.bashrc
  skel/.cargo/env
  skel/.profile
Due: none

docs: address Copilot review feedback
  bkt/src/commands/admin/mod.rs
  bkt/tests/cli.rs
  docs/VISION.md
Due: check-schemas, fmt, clippy

docs: mark RFC-0010 as superseded by host-only shims
  docs/rfcs/0010-transparent-delegation.md
Due: none

refactor: replace run_host_command with run_command
  CURRENT.md
  bkt/src/commands/distrobox.rs
  bkt/src/commands/flatpak.rs
  bkt/src/commands/status.rs
  bkt/src/context.rs
  bkt/src/manifest/base_image.rs
Due: check-schemas, fmt, clippy

refactor: remove delegation system, add PATH architecture docs (#83)
  CURRENT.md
  HANDOFF.md
  bkt/src/commands/admin/bootc.rs
  bkt/src/commands/admin/mod.rs
  bkt/src/commands/distrobox.rs
  bkt/src/commands/flatpak.rs
  bkt/src/commands/status.rs
  bkt/src/context.rs
  bkt/src/delegation.rs
  bkt/src/main.rs
  bkt/src/manifest/base_image.rs
  bkt/src/pr.rs
  bkt/src/validation.rs
  bkt/tests/cli.rs
  docs/VISION.md
  docs/rfcs/0010-transparent-delegation.md
  docs/rfcs/0018-host-only-shims.md
  skel/.bash_profile
  skel/.bashrc
  skel/.cargo/env
  skel/.config/environment.d/10-distrobox-exports.conf
  skel/.profile
Due: check-schemas, fmt, clippy

feat: implement Environment trait for testable environment abstraction (RFC-0019)
  bkt/src/context.rs
  docs/rfcs/0019-environment-abstraction.md
Due: fmt, clippy

fix(extension): use ACTIVE/INACTIVE state check instead of ENABLED
  bkt/src/commands/extension.rs
  bkt/src/manifest/extension.rs
Due: check-schemas, fmt, clippy

feat(homebrew): add Homebrew/Linuxbrew manifest support
  bkt/src/commands/capture.rs
  bkt/src/commands/homebrew.rs
  bkt/src/commands/mod.rs
  bkt/src/commands/schema.rs
  bkt/src/context.rs
  bkt/src/main.rs
  bkt/src/manifest/homebrew.rs
  bkt/src/manifest/mod.rs
  manifests/homebrew.json
  schemas/homebrew.schema.json
Due: check-schemas, fmt, clippy

feat(manifests): install dnf virt-manager
  manifests/system-packages.json
Due: none

feat(manifests): remove shim bkt
  manifests/host-shims.json
Due: none

install dnf `virt-manager` (#84)
  bkt/src/commands/capture.rs
  bkt/src/commands/extension.rs
  bkt/src/commands/homebrew.rs
  bkt/src/commands/mod.rs
  bkt/src/commands/schema.rs
  bkt/src/context.rs
  bkt/src/main.rs
  bkt/src/manifest/extension.rs
  bkt/src/manifest/homebrew.rs
  bkt/src/manifest/mod.rs
  docs/rfcs/0019-environment-abstraction.md
  manifests/homebrew.json
  manifests/system-packages.json
  schemas/homebrew.schema.json
Due: check-schemas, fmt, clippy

feat(manifests): remove shim bkt (#85)
  manifests/host-shims.json
Due: none

feat: implement RFC-0020 - split bkt dnf into bkt dev and bkt system
  bkt/src/commands/capture.rs
  bkt/src/commands/dev.rs
  bkt/src/commands/mod.rs
  bkt/src/commands/system.rs
  bkt/src/context.rs
  bkt/src/main.rs
  bkt/tests/cli.rs
Due: check-schemas, fmt, clippy

docs: add RFC-0020 dev and system commands
  docs/rfcs/0020-dev-and-system-commands.md
Due: none

feat: implement RFC-0020 - split bkt dnf into bkt dev and bkt system (#86)
  bkt/src/commands/capture.rs
  bkt/src/commands/dev.rs
  bkt/src/commands/mod.rs
  bkt/src/commands/system.rs
  bkt/src/context.rs
  bkt/src/main.rs
  bkt/tests/cli.rs
  docs/rfcs/0020-dev-and-system-commands.md
Due: check-schemas, fmt, clippy

feat: add virt-manager for Windows 11 VM support
  Containerfile
  manifests/system-packages.json
Due: none

fix: respect --dry-run flag in containerfile sync command
  bkt/src/commands/containerfile.rs
  bkt/src/main.rs
Due: check-schemas, fmt, clippy

feat: add automatic capture timer for manifest sync
  Containerfile
  systemd/user/bootc-capture.service
  systemd/user/bootc-capture.timer
Due: none

Path conditions:
  check-schemas: any of: bkt/src/**/*.rs
  fmt: any of: bkt/**/*.rs
  clippy: any of: bkt/**/*.rs
