Repository wycats/bootc: changes, and which lefthook commands are due for each by the changed paths.
All: check-schemas, check-containerfile, fmt, clippy

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-schemas:
      glob: "bkt/src/**/*.rs"
      run: |
        cargo run -q --manifest-path bkt/Cargo.toml -- schema generate --output schemas
        git diff --exit-code -- schemas

    check-containerfile:
      glob: "{manifests/*.json,bkt/src/**/*.rs}"
      run: |
        cargo run -q --manifest-path bkt/Cargo.toml -- containerfile sync
        git add Containerfile

    fmt:
      glob: "bkt/**/*.rs"
      run: |
        cargo fmt --manifest-path bkt/Cargo.toml
        git add {staged_files}

    clippy:
      glob: "bkt/**/*.rs"
      run: |
        cargo clippy --manifest-path bkt/Cargo.toml --fix --allow-dirty --allow-staged
        git add {staged_files}

pre-push:
  parallel: true
  commands:
    check-schemas:
      glob: "bkt/src/**/*.rs"
      run: |
        cargo run -q --manifest-path bkt/Cargo.toml -- schema generate --output schemas
        git diff --exit-code -- schemas

    check-containerfile:
      glob: "{manifests/*.json,bkt/src/**/*.rs}"
      run: cargo run -q --manifest-path bkt/Cargo.toml -- containerfile check

    fmt:
      glob: "bkt/**/*.rs"
      run: cargo fmt --manifest-path bkt/Cargo.toml -- --check

    clippy:
      glob: "bkt/**/*.rs"
      run: cargo clippy --manifest-path bkt/Cargo.toml -- -D warnings

chore: bootstrap exo, consolidate RFCs, migrate NEXT.md
  NEXT.md
  docs/agent-context/archive/01khsej11vjjfxr3mmdejk6v1g/implementation-plan.toml
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/ideas.toml
  docs/agent-context/plan.toml
Due: none

fix(delegation): use flatpak-spawn --host with env var passthrough
  bkt/src/main.rs
  bkt/tests/cli.rs
Due: fmt, clippy

feat(distrobox): add bins.exclude to prevent exporting self-delegating tools
  bkt/src/commands/distrobox.rs
  bkt/src/manifest/distrobox.rs
  schemas/distrobox.schema.json
Due: check-schemas, check-containerfile, fmt, clippy

docs(rfcs): update delegation and distrobox RFCs
  docs/rfcs/0017-distrobox-integration.md
  docs/rfcs/canon/0010-transparent-delegation.md
Due: none

feat(try): implement bkt try for transient overlay packages
  bkt/src/cli.rs
  bkt/src/commands/mod.rs
  bkt/src/commands/try_cmd.rs
  bkt/src/dbus/systemd.rs
  bkt/src/manifest/ephemeral.rs
  bkt/src/manifest/mod.rs
  bkt/src/manifest/systemd_services.rs
  bkt/src/manifest/try_pending.rs
  bkt/src/subsystem.rs
  docs/rfcs/0044-bkt-try-transient-overlay.md
  manifests/systemd-services.json
  schemas/systemd-services.schema.json
  scripts/flush-swap
  system/polkit-1/rules.d/50-bkt-try.rules
Due: check-schemas, check-containerfile, fmt, clippy

docs(rfcs): consolidate and update related RFCs
  docs/rfcs/0004-bkt-admin.md
  docs/rfcs/0007-drift-detection.md
  docs/rfcs/0050-persistent-host-command-helper.md
  docs/rfcs/withdrawn/0036-system-kargs.md
Due: none

docs(rfcs): consolidate RFC-0050 into RFC-0010
  docs/rfcs/0050-persistent-host-command-helper.md
  docs/rfcs/canon/0010-transparent-delegation.md
  docs/rfcs/complete/0046-test-performance.md
  docs/rfcs/withdrawn/0043-bkt-lib-extraction.md
Due: none

feat(daemon): integrate daemon into delegate_to_host() (Phase 2)
  bkt/src/main.rs
  bkt/tests/cli.rs
  docs/rfcs/0017-distrobox-integration.md
  docs/rfcs/canon/0010-transparent-delegation.md
  manifests/distrobox.json
  schemas/distrobox.schema.json
Due: check-containerfile, fmt, clippy

chore: regenerate schemas
  schemas/distrobox.schema.json
Due: none

feat(daemon): add robustness improvements (Phase 3)
  bkt/src/daemon/client.rs
  bkt/src/daemon/mod.rs
  bkt/src/daemon/server.rs
  bkt/src/main.rs
  docs/rfcs/canon/0010-transparent-delegation.md
Due: check-schemas, check-containerfile, fmt, clippy

feat(daemon): add Phase 4 validation benchmarks and stress tests
  bkt/Cargo.lock
  bkt/Cargo.toml
  bkt/benches/daemon.rs
  bkt/tests/daemon_stress.rs
  docs/rfcs/canon/0010-transparent-delegation.md
Due: fmt, clippy

Phase 2 complete: daemon integrated into delegate_to_host()
  docs/agent-context/plan.toml
  manifests/distrobox.json
Due: check-containerfile

chore(exo): update plan - Phase 2-4 complete, Phase 5 ready
  docs/agent-context/archive/01khsej4tg08xsfhsh67d8qvkj/implementation-plan.toml
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/plan.toml
Due: none

feat(daemon): Phase 5 - systemd auto-start and doctor integration
  Containerfile
  bkt/src/commands/doctor.rs
  docs/WORKFLOW.md
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/plan.toml
  docs/rfcs/canon/0010-transparent-delegation.md
  manifests/image-config.json
  systemd/user/bkt-daemon.service
Due: check-schemas, check-containerfile, fmt, clippy

chore: remove stale systemd-services.schema.json
  schemas/systemd-services.schema.json
Due: none

feat(daemon): Phase 3 robustness improvements (#133)
  Containerfile
  bkt/Cargo.lock
  bkt/Cargo.toml
  bkt/benches/daemon.rs
  bkt/src/commands/doctor.rs
  bkt/src/daemon/client.rs
  bkt/src/daemon/mod.rs
  bkt/src/daemon/server.rs
  bkt/src/main.rs
  bkt/tests/daemon_stress.rs
  docs/WORKFLOW.md
  docs/agent-context/archive/01khsej4tg08xsfhsh67d8qvkj/implementation-plan.toml
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/plan.toml
  docs/rfcs/canon/0010-transparent-delegation.md
  manifests/distrobox.json
  manifests/image-config.json
  schemas/systemd-services.schema.json
  systemd/user/bkt-daemon.service
Due: check-schemas, check-containerfile, fmt, clippy

chore(exo): archive Phase 5 completion
  docs/agent-context/archive/01kj3h4arybf17gd8qe9bjjwr2/implementation-plan.toml
  docs/agent-context/plan.toml
Due: none

feat(manifest): add opt_path field for /opt relocation
  Containerfile
  bkt/src/manifest/external_repos.rs
  manifests/external-repos.json
  schemas/external-repos.schema.json
Due: check-schemas, check-containerfile, fmt, clippy

feat(containerfile): implement per-package RPM install stages
  bkt/src/containerfile.rs
Due: fmt, clippy

docs(rfc): update RFC-0045 to Implemented status
  docs/rfcs/0045-layer-minimization.md
Due: none

docs(rfc): consolidate RFC-0042, extract RFC-0049
  docs/rfcs/0042-managed-containerfile.md
  docs/rfcs/0049-bkt-build-helper.md
  docs/rfcs/withdrawn/0042-bkt-build-and-managed-containerfile.md
Due: none

chore(exo): update phase tracking for Layer Independence
  Containerfile
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/plan.toml
Due: none

feat: Layer Independence (RFC-0045) + RFC Consolidation (#134)
  Containerfile
  bkt/src/containerfile.rs
  bkt/src/manifest/external_repos.rs
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/plan.toml
  docs/rfcs/0042-managed-containerfile.md
  docs/rfcs/0045-layer-minimization.md
  docs/rfcs/0049-bkt-build-helper.md
  docs/rfcs/withdrawn/0042-bkt-build-and-managed-containerfile.md
  manifests/external-repos.json
  schemas/external-repos.schema.json
Due: check-schemas, check-containerfile, fmt, clippy

docs: add RFC-0050 for layer grouping and bkt tune
  docs/rfcs/0050-layer-grouping-and-bkt-tune.md
Due: none

feat: set layer_group for external repos
  Containerfile
  bkt/src/manifest/external_repos.rs
  manifests/external-repos.json
  schemas/external-repos.schema.json
Due: check-schemas, check-containerfile, fmt, clippy

feat: implement layer grouping in Containerfile generator
  bkt/src/containerfile.rs
Due: fmt, clippy

docs: add RFC-0050 follow-up reference to RFC-0045
  Containerfile
  docs/rfcs/0045-layer-minimization.md
Due: none

feat: doctor --fix, manifest lifecycle RFCs (0052/0053/0054)
  bkt/src/commands/doctor.rs
  docs/rfcs/0001-command-punning.md
  docs/rfcs/0007-drift-detection.md
  docs/rfcs/0021-local-change-management.md
  docs/rfcs/0051-boot-services.md
  docs/rfcs/0052-manifest-lifecycle.md
  docs/rfcs/0053-bootstrap-and-repo-discovery.md
  docs/rfcs/0054-change-workflow.md
  docs/rfcs/canon/0014-extension-state-management.md
  manifests/distrobox.json
Due: check-schemas, check-containerfile, fmt, clippy

chore: accumulated session work
  .github/agents/coordinator.md
  .github/agents/execute.md
  .github/agents/prepare.md
  .github/agents/recon-worker.md
  .github/agents/recon.md
  .github/agents/review.md
  Containerfile
  bkt/src/cli.rs
  bkt/src/commands/mod.rs
  bkt/src/commands/tune.rs
  bkt/src/main.rs
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/ideas.toml
  docs/agent-context/modes.toml
  docs/agent-context/plan.toml
  docs/rfcs/0024-doctor-command.md
  docs/rfcs/0034-usroverlay-integration.md
  docs/rfcs/0049-bkt-build-helper.md
  docs/rfcs/canon/0010-transparent-delegation.md
  docs/rfcs/canon/0017-distrobox-integration.md
  docs/rfcs/canon/0024-doctor-command.md
  scripts/build-system-profile
  scripts/flush-swap
Due: check-schemas, check-containerfile, fmt, clippy

chore: set up Manifest Architecture phase with goals and tasks
  docs/agent-context/archive/01khsejd4ms6zvj1yv6xgbhcsb/implementation-plan.toml
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/plan.toml
Due: none

chore: restructure tasks into PER-sized chunks for manifest architecture
  docs/agent-context/current/implementation-plan.toml
Due: none

feat: add repo path caching to find_repo_path()
  bkt/src/repo.rs
Due: fmt, clippy

feat: convert all commands to repo-only manifest access (RFC-0052)
  bkt/src/commands/containerfile.rs
  bkt/src/commands/dev.rs
  bkt/src/commands/extension.rs
  bkt/src/commands/flatpak.rs
  bkt/src/commands/gsetting.rs
  bkt/src/commands/homebrew.rs
  bkt/src/commands/profile.rs
  bkt/src/commands/shim.rs
  bkt/src/commands/status.rs
  bkt/src/commands/system.rs
  bkt/src/commands/try_cmd.rs
  bkt/src/manifest/dnf.rs
  bkt/src/manifest/extension.rs
  bkt/src/manifest/flatpak.rs
  bkt/src/manifest/gsetting.rs
  bkt/src/manifest/homebrew.rs
  bkt/src/manifest/shim.rs
  bkt/src/manifest/toolbox.rs
Due: check-schemas, check-containerfile, fmt, clippy

feat: convert subsystem.rs to repo-only manifest access (RFC-0052 PER 3)
  bkt/src/manifest/systemd_services.rs
  bkt/src/subsystem.rs
Due: check-schemas, check-containerfile, fmt, clippy

refactor: remove dead system+user merge code from all manifest types (RFC-0052 PER 4)
  bkt/src/manifest/dnf.rs
  bkt/src/manifest/extension.rs
  bkt/src/manifest/flatpak.rs
  bkt/src/manifest/gsetting.rs
  bkt/src/manifest/homebrew.rs
  bkt/src/manifest/shim.rs
  bkt/src/manifest/systemd_services.rs
  bkt/src/manifest/toolbox.rs
  bkt/src/subsystem.rs
Due: check-schemas, check-containerfile, fmt, clippy

feat: add bkt migrate manifests command (RFC-0052 PER 5)
  bkt/src/cli.rs
  bkt/src/commands/migrate.rs
  bkt/src/commands/mod.rs
  bkt/src/main.rs
Due: check-schemas, check-containerfile, fmt, clippy

chore: promote RFC-0052 to canon, update RFC-0053 status
  docs/rfcs/0053-bootstrap-and-repo-discovery.md
  docs/rfcs/canon/0052-manifest-lifecycle.md
Due: none

feat: remove ephemeral manifest, --local flag, bkt local subcommand (RFC-0054)
  bkt/src/cli.rs
  bkt/src/commands/appimage.rs
  bkt/src/commands/extension.rs
  bkt/src/commands/fetchbin.rs
  bkt/src/commands/flatpak.rs
  bkt/src/commands/gsetting.rs
  bkt/src/commands/local.rs
  bkt/src/commands/mod.rs
  bkt/src/commands/shim.rs
  bkt/src/commands/skel.rs
  bkt/src/commands/system.rs
  bkt/src/commands/try_cmd.rs
  bkt/src/context.rs
  bkt/src/lib.rs
  bkt/src/main.rs
  bkt/src/manifest/ephemeral.rs
  bkt/src/manifest/extension.rs
  bkt/src/manifest/flatpak.rs
  bkt/src/manifest/mod.rs
  bkt/src/pipeline.rs
  bkt/src/repo.rs
  bkt/tests/cli.rs
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/plan.toml
  docs/rfcs/canon/0014-extension-state-management.md
Due: check-schemas, check-containerfile, fmt, clippy

feat: clone repo during bootstrap (RFC-0053)
  scripts/bootc-bootstrap
Due: none

fix: isolate integration tests from real repo (BKT_REPO_PATH)
  bkt/src/repo.rs
  bkt/tests/cli.rs
  docs/agent-context/current/implementation-plan.toml
  docs/agent-context/plan.toml
  manifests/gnome-extensions.json
  manifests/gsettings.json
  manifests/host-shims.json
  manifests/toolbox-packages.json
Due: check-containerfile, fmt, clippy
