Repository wycats/bootc: changes, and which lefthook commands are due for each by the changed paths.
All: check-schemas, check-containerfile, fmt, clippy

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-schemas:
      glob: "bkt/src/**/*.rs"
      run: |
        cargo run -q --manifest-path bkt/Cargo.toml -- schema generate --output schemas
        git diff --exit-code -- schemas

    check-containerfile:
      glob: "{manifests/*.json,bkt/src/**/*.rs}"
      run: |
        cargo run -q --manifest-path bkt/Cargo.toml -- containerfile sync
        git add Containerfile

    fmt:
      glob: "bkt/**/*.rs"
      run: |
        cargo fmt --manifest-path bkt/Cargo.toml
        git add {staged_files}

    clippy:
      glob: "bkt/**/*.rs"
      run: |
        cargo clippy --manifest-path bkt/Cargo.toml --fix --allow-dirty --allow-staged
        git add {staged_files}

pre-push:
  parallel: true
  commands:
    check-schemas:
      glob: "bkt/src/**/*.rs"
      run: |
        cargo run -q --manifest-path bkt/Cargo.toml -- schema generate --output schemas
        git diff --exit-code -- schemas

    check-containerfile:
      glob: "{manifests/*.json,bkt/src/**/*.rs}"
      run: cargo run -q --manifest-path bkt/Cargo.toml -- containerfile check

    fmt:
      glob: "bkt/**/*.rs"
      run: cargo fmt --manifest-path bkt/Cargo.toml -- --check

    clippy:
      glob: "bkt/**/*.rs"
      run: cargo clippy --manifest-path bkt/Cargo.toml -- -D warnings

feat: implement bkt bootstrap in Rust (replaces shell script)
  bkt/src/cli.rs
  bkt/src/commands/bootstrap.rs
  bkt/src/commands/mod.rs
  bkt/src/main.rs
  systemd/user/bootc-bootstrap.service
Due: check-schemas, check-containerfile, fmt, clippy

fix(bootstrap): add remotes for both scopes, detect shell version without display
  bkt/src/commands/bootstrap.rs
Due: check-schemas, check-containerfile, fmt, clippy

ci(arm64): trigger build on bkt/bkt-build/bkt-common changes
  .github/workflows/build-arm64.yml
Due: none

fix(bootstrap): use flatpak --system instead of pkexec
  bkt/src/commands/bootstrap.rs
Due: check-schemas, check-containerfile, fmt, clippy

fix: polkit rule handles Flatpak's own action IDs
  system/polkit-1/rules.d/50-bkt-admin.rules
Due: none

fix(wrap): use status() instead of exec() to prevent hanging
  bkt/src/commands/wrap.rs
  wrappers/msedge-wrapper/src/main.rs
  wrappers/vscode-wrapper/src/main.rs
Due: check-schemas, check-containerfile, fmt, clippy

docs: consolidate bkt try RFCs into RFC-0044
  docs/rfcs/0044-bkt-try-transient-overlay.md
  docs/rfcs/withdrawn/0034-usroverlay-integration.md
  docs/rfcs/withdrawn/0035-admin-update.md
  docs/rfcs/withdrawn/0037-bkt-upgrade.md
Due: none

feat: add bkt upgrade command with --preview
  bkt/src/cli.rs
  bkt/src/commands/mod.rs
  bkt/src/commands/upgrade.rs
  bkt/src/main.rs
Due: check-schemas, check-containerfile, fmt, clippy

ci: add vendor artifact resolve step and auto-approve same-repo PRs
  .github/workflows/build.yml
  .gitignore
Due: none

fix: align build-toolbox gate and add strict mode to resolve step
  .github/workflows/build.yml
Due: none

docs: add RFC-0056 vendor artifacts
  docs/rfcs/0056-vendor-artifacts.md
Due: none

feat: add vendor artifacts manifest types and schema
  Containerfile
  bkt-common/src/manifest.rs
  bkt/src/commands/schema.rs
  bkt/src/manifest/mod.rs
  bkt/src/manifest/vendor_artifacts.rs
  manifests/vendor-artifacts.json
  schemas/vendor-artifacts.schema.json
Due: check-schemas, check-containerfile, fmt, clippy

feat: add vendor artifact resolver and installer
  bkt-build/Cargo.lock
  bkt-build/Cargo.toml
  bkt-build/src/main.rs
  bkt-build/src/vendor_artifacts.rs
Due: none

feat: integrate vendor artifacts into Containerfile generator
  bkt/src/commands/containerfile.rs
  bkt/src/containerfile.rs
Due: check-schemas, check-containerfile, fmt, clippy

fix: address review feedback and migrate VS Code
  Containerfile
  bkt-build/src/vendor_artifacts.rs
  bkt-common/src/manifest.rs
  bkt/src/containerfile.rs
  bkt/src/manifest/external_repos.rs
  docs/rfcs/0056-vendor-artifacts.md
  manifests/external-repos.json
  schemas/vendor-artifacts.schema.json
Due: check-schemas, check-containerfile, fmt, clippy

fix: use build/ instead of .cache/bkt/ for resolved artifacts
  Containerfile
  bkt-build/src/main.rs
  bkt/src/containerfile.rs
Due: fmt, clippy

feat: vendor artifacts — source packages from vendor release feeds (#141)
  Containerfile
  bkt-build/Cargo.lock
  bkt-build/Cargo.toml
  bkt-build/src/main.rs
  bkt-build/src/vendor_artifacts.rs
  bkt-common/src/manifest.rs
  bkt/src/commands/containerfile.rs
  bkt/src/commands/schema.rs
  bkt/src/containerfile.rs
  bkt/src/manifest/external_repos.rs
  bkt/src/manifest/mod.rs
  bkt/src/manifest/vendor_artifacts.rs
  docs/rfcs/0056-vendor-artifacts.md
  manifests/external-repos.json
  manifests/vendor-artifacts.json
  schemas/vendor-artifacts.schema.json
Due: check-schemas, check-containerfile, fmt, clippy

fix: add retry logic for vendor artifact downloads
  bkt-build/src/vendor_artifacts.rs
Due: none

fix: satisfy new clippy lints in CI
  bkt/src/commands/tune.rs
  bkt/src/containerfile.rs
  bkt/src/manifest/changelog.rs
  bkt/src/subsystem.rs
Due: check-schemas, check-containerfile, fmt, clippy

fix: satisfy new rpmcheck clippy lint
  rpmcheck/src/main.rs
Due: none

ci: trigger builds when vendor artifacts change
  .github/workflows/build.yml
  bkt-build/src/vendor_artifacts.rs
Due: none

fix: restore check-schemas-current workflow job key
  .github/workflows/build.yml
Due: none

fix: remove duplicate empty workflow job key
  .github/workflows/build.yml
Due: none

feat: add vendor artifact status command
  bkt/src/cli.rs
  bkt/src/commands/mod.rs
  bkt/src/commands/vendor_artifacts.rs
  bkt/src/main.rs
Due: check-schemas, check-containerfile, fmt, clippy

feat: add vendor artifact try command
  bkt/src/commands/try_cmd.rs
  bkt/src/commands/vendor_artifacts.rs
  bkt/src/main.rs
Due: check-schemas, check-containerfile, fmt, clippy

fix: satisfy Rust 1.97 clippy
  bkt/src/commands/upgrade.rs
Due: check-schemas, check-containerfile, fmt, clippy

fix: satisfy Rust 1.97 clippy (#143)
  bkt/src/commands/upgrade.rs
Due: check-schemas, check-containerfile, fmt, clippy

fix: recognize staged vendor updates
  bkt/src/commands/vendor_artifacts.rs
Due: check-schemas, check-containerfile, fmt, clippy

fix: recognize staged vendor updates (#144)
  bkt/src/commands/vendor_artifacts.rs
Due: check-schemas, check-containerfile, fmt, clippy
